[submodule "src/api/philgo-api"]
	path = src/api/philgo-api
	url = https://github.com/thruthesky/philgo-api
[submodule "src/api/backend-angular-api"]
	path = src/api/backend-angular-api
	url = https://github.com/thruthesky/backend-angular-api
