[submodule "src/api/philgo-api"]
	path = src/api/philgo-api
	url = https://github.com/thruthesky/philgo-api
[submodule "src/api/backend"]
	path = src/api/backend
	url = https://github.com/thruthesky/backend
