<section class="container-fluid">
    <div class="forum-group">
        <label>Title: </label>
        <input class="form-control" [(ngModel)]="postData.title" type="text">
        <label>Post Content: </label>        
        <textarea class="form-control" [(ngModel)]="postData.content" name="post" rows="3"></textarea>
        <button class="btn btn-primary" (click)="onClickSubmit()">
            <span *ngIf="!post" >Post</span>
            <span *ngIf="post" >Update</span>
        </button>
        <!--<button class="btn btn-danger" click="onClickCancelEdit()">Cancel</button>-->
    </div>
</section>